.single-post-container {
  background-color:var(--post-bg-color-light);
  padding: 1.5rem;
  border-radius: 5px;
  position:relative;
}

.single-post-bg-in-dark-theme {
  background-color:var(--post-bg-color-dark);
  color: var(--post-bg-color-light);
}

.user-handle-section {
  display: flex;
  align-items: center;
}
.user-profile-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 10px;
}
.user-media-img {
  height: 20rem;
  width: 100%;
  background-size: contain;
  border-radius: 5px;
}
.post-content{
    word-spacing:2px;
    font-size:1.2rem;
    letter-spacing:1px;
}
.single-post-icons{
    display:flex;
    font-size:1.3rem;
    align-items: center;
    justify-content: space-around;
}

.edit-delete-icons{
  position:absolute;
  right:1.5rem;
  top:1.5rem;
  font-size:1.3rem;
}
.edit-delete-modal{
  position:absolute;
  right:3rem;
  top:1rem;
  display:flex;
  flex-direction: column;
  padding:6px;
  border-radius:5px;
  box-shadow: 0px 0px 1px var(--dark);
  background-color: inherit;
  z-index:10;
}
.edit-delete-modal button{
  border:none;
  text-align: left;
  background: transparent;
  color:inherit;
  margin:2px 0;
  font-size:0.8rem;
  letter-spacing: 1px;
  font-family:inherit;

}

