.edit-profile-main {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--transparent-black);
    z-index: 10;
}

.profile-edit-modal {
    padding: 2rem;
    width: 30rem;
    background-color: var(--dark);
    color: inherit;
    font-family: inherit;
    height: fit-content;
    font-size: large;
    border-radius: 5px;
}

.profile-image-container {
    display: flex;
    align-items: center;
}

.profile-img-upload {
    height: 0;
    width: 0;
}

.edit-profile-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-size: contain;
}

.image-container {
    position: relative;
}

.profile-camera-icon {
    position: absolute;
    bottom: 5px;
    right: 3px;

}

.profile-bio-input {
    outline: none;
    resize: none;
    width: 100%;
    font-family: inherit;
    padding: 5px;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid var(--black);
    background-color: transparent;

}

.edit-profile-main button {
    padding: 3px 5px;
    font-family: inherit;
    color: var(--white);
    background: var(--blueviolet);
    border-radius: 4px;
    font-size: 17px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}